/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');


@import "tailwindcss";

@theme {
  --font-google-sans-flex: "Google Sans Flex", sans-serif; 
}

body {
  @apply font-google-sans-flex;
  /* @apply bg-[#CFCFCF] text-white; */
}

main {
  @apply sm:max-w-[78rem] sm:mx-auto
}

.safe-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom) + 1.5rem);
}

html {
  overscroll-behavior-y: none;
}

/* [#1f1f1f] - dark mode bg */ 